<% provide(:title, "Home") %>
  <div class="row">

  <br/>
  <br/>

    <div class="col-md-8" style="padding-top: 50px;">
      <%= render 'shared/secondary_navbar' %>
      
      <%= render 'shared/recent_posts' %>
    </div>
    

    <div class="col-md-4" style="margin-top: 50px;">
      <div class="side-bar">
        <div class="card">
          <div class="card-body">
            <h4 class="session-title"> Recent Members </h4>

            <div style="padding: 15px 15px 15px 15px">
              <% @user_ids.each do |user_id| %>
              <% user = User.find_by(id: user_id) %>
                <div class="col-sm-4">
                  <%= link_to gravatar_for(user, size: 120), user %> 
                  <p style="text-align: center;"><%= link_to user.name, user %></p>
                </div>
              <% end %>
            </div>

          </div>
        </div>

        <br/>

        <div class="card">
          <div class="card-body">
            <h4 class="session-title"> Topic </h4>

            <div style="padding: 15px 15px 15px 15px">
              <%= render 'shared/micropost_filter_form' %>
            </div>
            
          </div>
        </div>

        <br/>

        <div class="card">
          <div class="card-body">
            <h4 class="session-title"> Post </h4>

            <div style="padding: 15px 15px 15px 15px">
              <%= render 'shared/most_viewed_posts' %>
            </div>
            
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="session-title"> Post </h4>

            <div style="padding: 15px 15px 15px 15px">
              <%= render 'shared/external_links' %>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>