    <div class="col-md-12", style="margin-top: 50px;">
    <!-- <%= gravatar_for @user%>  -->
      <div class="row text-center">
        <% if current_user.avatar? %>
          <%= image_tag(current_user.avatar.url, size: 150, class:"rounded mx-auto d-block") %>
        <% else %>
          <%= gravatar_for(current_user, size: 150)%>
        <% end %>
      </p>
      </div>
        <p class="text-center">Name: <%= @user.name %></p>
        <p class="text-muted text-center"><i class="glyphicon glyphicon-time"></i>  <%= current_user.created_at.strftime("%Y-%m-%d")%>
        <% if @user.city? %>
          <span style="margin-right: 40px;"></span><i class="glyphicon glyphicon-map-marker"></i>  <%= @user.city %></p>
        <% end %>
    </div>