<% provide(:title, @user.name) %>
<div>
    <%= render 'users/user_info' %>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>Comments to me</h6>
        </div>
        <div class="panel-body">
          <% if @my_comments.any? %>
          <% @my_comments.each do |comment| %>
          <div>
            <p class="panel-text">
              <%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %> commented:
              <span style="float:right;">in Post: <%= link_to Micropost.find(comment.micropost_id).title, Micropost.find(comment.micropost_id) %> 
              by <%= link_to User.find(Micropost.find(comment.micropost_id).user_id).name, User.find(Micropost.find(comment.micropost_id).user_id) %></span>
            </p>
            <p style="margin-left: 30px;">
              <%= raw comment.body %> 
            </p>
            <p style="float: right;"><small class="text-muted">Written at: <%= comment.created_at %></small></p>
            <br/><hr/>
          </div>
          <% end %>

          <% else %>
          <p class="panel-text">User has no comments</p>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>