<% provide(:title, @user.name) %>
<div>
  <%= render 'users/user_info' %>
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>My Posts</h6>
        </div>
        <div class="panel-body">
          <% if @microposts.any? %>
          <% @microposts.each do |micropost| %>
            <div>
              <p class="panel-text"><%= link_to micropost.user.name, micropost %> posted <%= link_to micropost.title, micropost %> 
              <span><small class="text-muted">at <%= micropost.created_at %></small></span>:</p>
              <p class="panel-text"><%= raw micropost.content %></p>
            </div>
            <br>
            <hr/>
            <%= render partial: "users/comments_on_my_posts", locals: {micropost: micropost}%>
          <% end %>
          <% else %>
          <p class="panel-text">User has no posts</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>