<% if false %>
<%= button_to "2", home_path, params: {topic: "2"} %>
<%= button_to "topic", home_path, params: {topic: "topic"} %>
<% end %>


<%= form_for :static_pages, url: home_path, :html => {:id => "filter_form"} do |f| %>

    <div data-toggle="buttons" class="micropost-filter-form" >
        <% $topic.each do |t| %>
        <label class="btn btn-info col-sm-3" style="margin: 0px 15px 15px 15px;">
            <%= check_box_tag "topic[]", t %> <%= t %>
        </label>
        <% end  %>
    </div>
    <div class="row customized-container-search" style="padding-top: 50px">
    </div>
<% end %>


<% if false %>
<%= simple_form_for :static_pages, url: filter_path do %>

    <%= text_field :myform, :topic %>

    <%= submit_tag 'sign up', class: "btn btn-primary" %>
<% end %>
<% end %>