<% if false %>
<%= button_to "2", home_path, params: {topic: "2"} %>
<%= button_to "topic", home_path, params: {topic: "topic"} %>
<% end %>


<%= form_for :static_pages, url: home_path, :html => {:id => "filter_form"} do |f| %>
    <div data-toggle="buttons" >

        <label class="btn btn-info col-sm-3">
            <%= check_box_tag "topic[]", "2" %> 2
        </label>

        <label class="btn btn-info col-sm-3 col-sm-offset-1">
            <%= check_box_tag "topic[]", "topic" %> topic
        </label>

        <label class="btn btn-info col-sm-3 col-sm-offset-1">
            <%= check_box_tag "topic[]", "RMIT" %> RMIT
        </label>
    </div>
    <div class="row customized-container-search" style="padding-top: 50px">
        <%= f.submit "Search topic", class: "btn btn-primary" %>
    </div>
<% end %>