 <% @recent_posts.each do |post| %> 
    <div class="panel"> 
    <div class="panel-body">
    <div class ="row">
    <div class ="col-md-2">
    <div class="panel-img" style="margin-left: 20px; margin-top: 20px;">
        <% if post.user.avatar? %>
        <%= link_to image_tag(post.user.avatar.url, size: 70), post.user %>
        <% else %>
        <%= link_to gravatar_for(post.user, size: 70), post.user%> 
        <% end %>
    </div>
    </div>
    <div class ="col-md-9">
    <div class="panel-title">
        <h3 class="post-title"><%= link_to post.title, post %></h3>
    </div>
    <div class="panel-text">
    <div class="post-info">
        <p class="user"><small class="text-muted"><%= link_to post.user.name, post.user %> </small></p>        
        <p class="panel-text">
        <small class="text-muted">  
            Posted <%= time_ago_in_words(post.created_at) %> ago 
        </small>    
        </p>  
        <p class="card-text"><small class="text-muted"><%= post.topic %></small></p>   
        </div>
        <div class="post-corner" >
            <small> <i class="glyphicon glyphicon-comment"> </i> <%= post.comments.count %></i></i></small> 
            <span style="margin-right: 20px;"></span>
            <small> <i class="glyphicon glyphicon-eye-open"> </i> <%= post.view %></i></i></small>
        </div>
        
       </div>    
    </div>
    </div>      
    </div>
    </div>
    <% end %>

<%= will_paginate @recent_posts%>