 <% @recent_posts.each do |post| %> 
    <div class="card "> 
    <div class="card-body">
    <div class ="row">
    <div class ="col-md-2">
    <div class="card-img" style="margin-left: 20px; margin-top: 20px;">
        <%= link_to gravatar_for(post.user, size: 70), post.user%> 
    </div>
    </div>
    <div class ="col-md-9">
    <div class="card-title">
        <h3 class="post-title"><%= link_to post.title, post %></h3>
    </div>
    <div class="card-text">
    <div class="post-info">
        <p class="user"><small class="text-muted"><%= link_to post.user.name, post.user %> </small></p>        
        <p class="card-text">
        <small class="text-muted">  
            Posted <%= time_ago_in_words(post.created_at) %> ago 
        </small>
        </p>  
        <p class="card-text"><small class="text-muted"><%= post.topic %></small></p>   
        </div>
        <div class="post-corner" >
            <small> <i class="glyphicon glyphicon-eye-open"> </i> <%= post.view %></i></i></small>
        </div>
       </div>    
    </div>
    </div>      
    </div>
    </div>
    <% end %>

<%= will_paginate @recent_posts%>