<% provide(:title, @micropost.title) %>
<div class="row">
    <div class="col-md-8" style="margin-top: 50px;">
        <div class="panel">
            <div class="panel-body">
                <h2 style="font-size: 30px; text-align: center;"><%= @micropost.title %></h2>
                <button type="button" class="btn btn-primary" disabled>
                    <%= @micropost.topic %>
                </button>
                <span style="float: right;">  
                    <% if current_user == @micropost.user %>
                    <%= link_to "delete this post?", @micropost, method: :delete, data: { confirm: "You sure?"} %>  
                    <% end %>
                </span>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <span>Posted by <%= link_to @micropost.user.name, @micropost.user %> at: </span>
                <span class="text-muted"><small><%= @micropost.created_at %></small></span>     
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <span>Post content: </span>
                <br/><hr/>
                <span>
                    <%= raw @micropost.content %> 
                </span>
            </div>
        </div>
        <div>
            <%= render partial: "comments/comments", locals: {commentable: @micropost} %>
            <%= render partial: "comments/form", locals: {commentable: @micropost} %>
        </div>
    </div>
    <%= render 'shared/side_bar' %>
</div>
<div style="margin-bottom: 30px;">
</div>
<script>   
    CKEDITOR.replace('postcomment');
</script> 